body{
    margin : 0;
    padding :0;
    display :flex;
    background-color:rgb(238, 241, 241);
}

.container {
    width :100%;
    text-align: center;
}

#title{
    text-align: center ;
    font-size: 50px ;
    color: red;
}

#inputText{
    width: 300px;
    height: 46px;
    outline: none;
    font-size: 25px;
    vertical-align: middle;
    border: 3px solid blue;
    border-radius: 10px ;
    color: black;
}

#addTodo{
    height: 45px;
    width: 80px;
    border: 1px solid green;
    vertical-align: middle;
    font-size: 25px;
    outline: none;
    cursor: pointer;
    background-color: green;
    color: #fff;
    text-align: center;
    border-radius: 10px;
}

#addTodo:active{
    background-color: blue;
}

#clearTodo{
    height: 45px;
    width: 100px;
    border: 1px solid black;
    vertical-align: middle;
    font-size: 25px;
    outline: none;
    cursor: pointer;
    background-color: red;
    color: #fff;
    text-align: center;
    border-radius: 10px;
}

#clearTodo:active{
    background-color: blue;
}

.text{
    margin: 0;
    cursor: pointer;
    font-size: 35px;
    color: purple;
    text-transform: capitalize;

}